{% extends 'home.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<h2 class="login-title">Login</h2>
<form method="post" class="login-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-login">Login</button>

    <div class="register-section">
        <p class="register-text">Noch kein Konto?</p>
        <a href="{% url 'profil:signup' %}" class="btn-register">Registrieren</a>
    </div>
</form>
{% endblock %}
