/*Header*/
header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #933b5b;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 2rem;
}

/* Logo */
.logo img {
    height: 48px;
    width: auto;
    display: block;
}

/* Navigation Links */
.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.8rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: #e3d6bf;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 2rem;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #b6aa99;
}

/* Unterstrich-Hover*/
.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    transition: width 0.2s ease;
}

.nav-links a:hover::after {
    width: 100%;
}


.user-section {
    display: flex;
    align-items: center;
}

.user-profile,
.guest-profile {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

/* Username + Logout */
.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

.username {
    font-size: 1.3rem;
    font-weight: 600;
    color: #e3d6bf;
    text-decoration: none;
}

/* Logout */
.logout-btn {
    font-size: 0.85rem;
    padding: 0.3rem 0.75rem;
    border-radius: 7px;

    background-color: #b5728a;
    color: #e3d6bf;

    border: none;
    outline: none;

    cursor: pointer;
}


.logout-btn:hover {
    background-color: #933b5b;
}

/* Profilbild */
.profile-image img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #e5e7eb;
}

/* Login und Signup */
.auth-links {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-items: flex-end;
}

.login-btn {
    font-size: 0.85rem;
    padding: 0.3rem 0.75rem;
    border-radius: 10px;
    background-color: #b5728a;
    color: #ffffff;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #933b5b;
    border: 1px solid #b5728a;
}

.signup-btn {
    font-size: 0.85rem;
    padding: 0.3rem 0.75rem;
    border-radius: 10px;
    color: #e3d6bf;
    border: 1px solid #b5728a;
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease;
}

.signup-btn:hover {
    background-color:#b5728a;
    border-color: #b5728a;
}