{% extends 'base.html' %}

{% block title %}UniCat – Home{% endblock %}

{% block content %}
<h1>UniCat</h1>

{% if user.is_authenticated %}
    <p>Willkommen, {{ user.username }}!</p>

    {# Logout #}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    {# user (kein Staff) #}
    {% if not user.is_staff %}

        {# User HAT bereits ein Profil #}
        {% if user.profile %}
            <p>
                <a href="{% url 'profil_detail' user.profile.pk %}">
                    Profil ansehen
                </a>
            </p>

        {# User hat noch kein Profil #}
        {% else %}
            <p>
                <a href="{% url 'profil_create' %}" class="btn btn-primary">
                    Profil erstellen
                </a>
            </p>
        {% endif %}
        <hr>
        <p>
            <a href="{% url 'support_user_list' %}">
                Mein Kundenservice-Postfach
            </a>
        </p>
            <p>
                <a href="{% url 'support_create' %}" class="btn btn-secondary">
                    Kundenservice kontaktieren
                </a>
            </p>
    {% endif %}

    {# Kunden Service #}
    {% if user.is_staff %}
        <p>
            <a href="{% url 'support_request_list' %}">
                Support-Anfragen verwalten
            </a>
        </p>

        <p>
            <a href="{% url 'cs_review_list' %}" class="btn btn-danger">
                Gemeldete Bewertungen prüfen
            </a>
        </p>
    {% endif %}

{% else %}
    <p>Du bist nicht eingeloggt.</p>
    <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Registrieren</a></li>
    </ul>
{% endif %}

{% endblock %}
