{% extends 'base.html' %}

{% block title %}UniCat – Home{% endblock %}

{% block content %}
<h1>UniCat</h1>

{% if user.is_authenticated %}
    <p>Willkommen, {{ user.username }}!</p>

    {# Logout #}
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
    {% if user.profile %}
        <a href="{% url 'profil:profil_detail' user.profile.pk %}">Profil ansehen</a>
    {% endif %}

    {% if not user.is_staff %}
        <hr>
        <p>
            <a href="{% url 'profil:support_user_list' %}">
                Mein Kundenservice-Postfach
            </a>
        </p>
            <p>
                <a href="{% url 'profil:support_create' %}" class="btn btn-secondary">
                    Kundenservice kontaktieren
                </a>
            </p>
    {% endif %}

    {# Kunden Service #}
    {% if user.is_staff %}
        <p>
            <a href="{% url 'profil:admin_dashboard' %}">
                Kundenservice Seite
            </a>
        </p>
    {% endif %}

{% else %}
    <p>Du bist nicht eingeloggt.</p>
    <ul>
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Registrieren</a></li>
    </ul>
{% endif %}

{% endblock %}
