{% extends 'base.html' %}

{% block title %}UniCat – Home{% endblock %}

{% block content %}
<h1>UniCat</h1>

{% if user.is_authenticated %}
    <p>Willkommen, {{ user.username }}!</p>
{% else %}
    <p>Du bist derzeit nicht eingeloggt. Um Produkte zu ersteigern musst du angemeldet sein.</p>
{% endif %}

{% include 'produkt/produkt_liste.html' %}

{% if user.is_authenticated %}

    {% if not user.is_staff %}
        <hr>
        <p>
            <a href="{% url 'profil:support_user_list' %}">
                Mein Kundenservice-Postfach
            </a>
        </p>
            <p>
                <a href="{% url 'profil:support_create' %}" class="btn btn-secondary">
                    Kundenservice kontaktieren
                </a>
            </p>
    {% endif %}

    {# Kunden Service #}
    {% if user.is_staff %}
        <p>
            <a href="{% url 'profil:admin_dashboard' %}">
                Kundenservice Seite
            </a>
        </p>
    {% endif %}
{% endif %}

{% endblock %}
